@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  background: #f8f8f8;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* Navbar Styles */

.header{
  display: flex;
  /* position: sticky;
  top: 0;
  z-index: 50; */
  /* opacity: .95; */
  width: 100%;
  justify-content: space-around;
  align-items: center;
  /* background: #eee; */
  height: 80px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.logo{
  z-index: 1000;
}

@media (max-width:768px) {
  .link-list{
    z-index: 1;
    top: 80px;
    display: none;
    
  }
  
  .link-list-toggle{
    z-index: 1;
    /* background-color: #eee; */
    top: 80px;
    /* opacity: .97; */
    transition: .7s;
    border-bottom: 1px solid rgb(190, 190, 190);
  }
}



.nav-link{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover{
  background-color: purple;
  color: yellow;
  transition: .3s;
} 

.card{
  border: 2px solid #0ec0e8;
}


.footer{
  height: 400px;
  background-color: aqua;
}
 
